html, body {
  max-width: 100%;
	min-width: 1200px;
  overflow-x: hidden;
}
button, div {
  vertical-align:top;
  display:inline-block;
}
.underline {
  text-decoration: underline
}
.strike {
  text-decoration: line-through
}
span.xscript {
  position: relative;
}
span.xscript sub {
  position: absolute;
  left: 0.1em;
  bottom: -1ex;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  display:inline-block;
  text-align: center;
  table-layout:fixed;
}
th {
  text-decoration: underline
}
button,div {
  display:inline-block;
	position:relative;
}
.small {
  font-size: 8px;
  opacity: 0.67;
}
.toptable {
  width: calc(100vw - 320px);
  table-layout: fixed;
  text-align: left;
}
.resource {
  height: 20px;
  width: 384px;
  font-size: 12px;
	margin-left:5px;
	margin-right:5px;
	text-align: center;
}
.maxaxisbutton {
  background-color: rgba(0,153,153,0.9);
  color: #ffffff;
  padding: 10px;
  border-radius: 10px;
  width: 250px;
  height: 50px;
}
.axisbutton {
  background-color: rgba(0,153,153,0.9);
  color: #ffffff;
  padding: 10px;
  border-radius: 10px;
  width: 200px;
  height: 125px;
	margin:4px
}
.lockedaxisbutton {
  background-color: rgba(153,153,153,0.9);
  color: #000000;
  padding: 10px;
  border-radius: 10px;
  width: 200px;
  height: 125px;
	margin:4px
}
.empoweredaxis {
  background-color: rgba(102,0,204,0.9);
  color: #ffffff;
  padding: 10px;
  border-radius: 10px;
  width: 200px;
  height: 125px;
	margin:4px
}
.tablecell {
  border: 1px solid rgba(0,255,0,0.67);
  border-collapse: collapse
}
#progress {
	height:24px;
	border-radius:6px;
	color:#000000;
	width:calc(100vw - 30px);
	position:fixed;
	bottom:30px;
	left:15px
}
#footer {
	height:24px;
	width:calc(100vw - 30px);
	position:fixed;
	bottom:0px;
	left:15px
}
.optionsbutton {
  background-color: #cccccc;
  color: #000000;
  padding: 10px;
  border-radius: 15px;
  font-size: 18px;
  width: 175px;
  height: 150px;
}
.redoptionsbutton {
  background-color: #000000;
  color: #ff0000;
  padding: 10px;
  border-radius: 15px;
  font-size: 18px;
  width: 175px;
  height: 150px;
}
.tabtier2 {
  width: 120px;
  height: 25px;
  font-size: 13px;
	border-style: solid;
	border-width: 2px;
	border-radius: 5px;
}
.tier2main {
	background-color:rgba(0,0,0,0.8);
	border-color:rgba(0,255,0,0.9);
	color:#00ff00
}
.tier2options {
	background-color:rgba(204,204,204,0.8);
	border-color:rgba(153,153,153,0.9)
}
.tier2statistics {
	background-color:rgba(0,153,0,0.8);
	border-color:rgba(0,204,0,0.9)
}
.tier2achievements {
	background-color:rgba(170,102,0,0.8);
	border-color:rgba(102,51,0,0.9)
}
.tier2automation {
	background-color:rgba(178,178,178,0.8);
	border-color:rgba(153,153,153,0.9)
}
.tier2stardust {
	background-color:rgba(102,76,51,0.8);
	border-color:rgba(128,102,76,0.9);
	color:#ffffff
}
.tier2wormhole {
	background-color:rgba(51,76,102,0.8);
	border-color:rgba(76,102,128,0.9);
	color:#ffffff
}
.tabtier3 {
  width: 100px;
  height: 20px;
  font-size: 9px;
}
.htpTab {
  width: 48vw;
  height: 200px;
  border-radius: 20px;
  background-image: linear-gradient(135deg,#001933,#003366,#001933)
}
.navigationtier3 {
  background-color: #331933;
  margin-left:0vw;
  margin-right:0vw;
}
.bigtab {
	font-size:20px;
	border-style:solid;
	border-width:2px;
	border-radius:8px;
	width:150px
}
tab {
	width:calc(100vw - 120px)
}
#button_main {
  background-color: rgba(0,0,0,0.75);
  color: rgba(0,255,0,0.9);
  border-color: rgba(0,204,0,0.8);
}
#button_options {
	background-color: rgba(153,153,153,0.75);
	color:rgba(0,0,0,0.9);
	border-color:rgba(102,102,102,0.8)
}
#button_statistics {
	background-color: rgba(0,153,0,0.75);
	color:rgba(0,204,0,0.9);
	border-color:rgba(0,153,0,0.8);
}
#button_achievements {
	background-color: rgba(170,102,0,0.75);
	color:rgba(255,153,0,0.9);
	border-color:rgba(170,102,0,0.8)
}
#button_automation {
	background-color: rgba(153,153,153,0.75);
	color:rgba(0,0,0,0.9);
	border-color:rgba(102,102,102,0.8)
}
#button_stardust {
  background-image: url("stardustbackground.png");
  background-size: cover;
  color: #ff9900;
  border-color: #ff9900;
}
#button_wormhole {
  background-image: repeating-radial-gradient(circle, #190033, #330066 10%, #190033 20%);
  color: #ffffff;
	border-color:#0000ff
}
.invisible {
  font-size: 30px;
  border: none;
  background: transparent;
}
.stardustResetButton{
  background-image: url("stardustbackground.png");
  background-size: cover;
  color: #ffffff;
  font-size: 15px;
  border-radius: 4px;
  width: 125px;
  height: 90px;
}
.lockedStardustResetButton{
  background-color: #999999;
  color: #000000;
  font-size: 15px;
  border-radius: 4px;
  width: 125px;
  height: 90px;
}
.matterlayertext{
  color: #00ff00;
  font-size: 18px;
}
.masterytext{
  color: #ff0099;
  font-size: 18px;
}
.masterybuttonoff{
  width: 225px;
  height: 150px;
  border-radius: 18px;
  background-color: #cccccc
}
.masterybuttonon{
  width: 225px;
  height: 150px;
  border-radius: 18px;
  background-color: #00ff00
}
.stardustlayertext{
  background: -webkit-radial-gradient(circle,#ff0,#f60);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 18px;
}
.darkstardustlayertext{
  background: -webkit-radial-gradient(circle,#990,#930);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 18px;
}
.bigstardusttext{
  color: #ff6600;
  background: -webkit-radial-gradient(circle,#ff0,#f60);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 20px;
  font-weight: 700;
}
.glownotify{
  box-shadow: 0px 0px 20px 0px #ff0
}
.stardustboost {
	background-color: rgba(255,102,0,0.4);
	width:225px;
	height:100px;
	margin:8px;
	color:#ffffff;
	border-style:solid;
	border-radius:30px;
	border-width:2px;
	border-color: rgba(255,255,0,0.5);
}
.stardustupgradebutton {
  background-image: url("stardustbackground.png");
  background-size: cover;
  color: #ffffff;
  padding: 10px;
  border-radius: 10px;
  width: 200px;
  height: 125px;
	margin:4px;
}
.startext {
	color: #ffffff;
	font-size: 18px
}
.starbutton {
	font-size:12px;
	width:120px;
	height:120px;
	padding:15px;
	border-radius:60px;
	margin:8px;
	position:relative;
}
.availablestarbutton {
	background-color:#cccccc;
	color: #000000;
}
.lockedstarbutton {
  background-color: #999999;
  color: #000000;
}
.ownedstarbutton1 {
  background-color: #ff6600;
  color: #000000;
}
.ownedstarbutton2 {
  background-color: #ff9900;
  color: #000000;
}
.ownedstarbutton3 {
  background-color: #ffcc00;
  color: #000000;
}
.ownedstarbutton4 {
  background-color: #ffff00;
  color: #000000;
}
.ownedstarbutton5 {
  background-color: #ccff33;
  color: #000000;
}
.ownedstarbutton6 {
  background-color: #99ff66;
  color: #000000;
}
.ownedstarbutton7 {
  background-color: #66ff99;
  color: #000000;
}
.ownedstarbutton8 {
  background-color: #33ffcc;
  color: #000000;
}
.ownedstarbutton9 {
  background-color: #00ffff;
  color: #000000;
}
.ownedstarbutton10 {
  background-image: radial-gradient(#ffffff, #000000);
  color: #000000;
}
.starbuybutton {
  background-color: #cccccc;
  color: #000000;
  padding: 0px;
  border-radius: 20px;
  width: 200px;
  height: 50px;
	margin: 2px;
}
.automatordiv {
  background-color: #999999;
  color: #000000;
  text-align: center;
  font-size: 12px;
  font-family: "Courier New";
  padding: 10px;
  border-radius: 40px;
  width: 200px;
  height: 350px;
}
.automatortoggleon {
  background-color: #00ff00;
  border-radius: 50%;
  width: 24px;
  height: 24px;
}
.automatortoggleoff {
  background-color: #ff0000;
  border-radius: 50%;
  width: 24px;
  height: 24px;
}
.autobuyerupgrade {
  background-color: #cccccc;
  color: #000000;
  font-size: 12px;
  padding: 2px;
  border-radius: 10px;
  height:40px;
  width:180px;
}
.texttoggle {
	background-color:rgba(204,204,204,0.9);
	color:#000000;
	font-family:"Courier New";
	font-size:12px;
	height:18px;
	border-radius:9px;
	width:180px
}
.maxdarkaxisbutton {
  background-color: #990099;
  color: #ffffff;
  padding: 10px;
  border-radius: 10px;
  width: 250px;
  height: 50px;
}
.darkaxisbutton {
  background-color: #990099;
  color: #ffffff;
  padding: 10px;
  border-radius: 10px;
  width: 200px;
  height: 125px;
	margin:4px
}
.darkmattertext {
  color: #990099;
  font-size: 18px
}
.darkstarbutton {
  background-color: #990099;
  color: #ffffff;
  padding: 4px;
  border-radius: 16px;
  width: 400px;
  height: 140px;
}
.lockeddarkstarbutton {
  background-color: #999999;
  color: #000000;
  padding: 4px;
  border-radius: 16px;
  width: 400px;
  height: 140px
}
.globalnavigation {
  text-align: center;
  width: 96vw;
}
.energytext {
  color: #00ffff;
  font-size: 18px
}
.energydivision {
  height: 115px;
  width: calc(50vw - 50px);
	margin: 15px;
}
.wormholeResetButton{
  background-image: repeating-radial-gradient(circle, #190033, #330066 10%, #190033 20%);
  background-size: cover;
  color: #ffffff;
  font-size: 15px;
  border-radius: 4px;
  width: 125px;
  height: 90px;
}
.topleveldiv {
	left: 0px;
	width:100vw;
}
#wormholeAnimation{
  background-image: repeating-radial-gradient(circle, #190033, #330066 10%, #190033 20%);
  background-size: cover;
	position: fixed;
	left: 0px;
	top: 0px;
	height:100vh;
}
.wormholelayertext {
  color: #0000ff;
  text-shadow: 0 0 5px #3300ff, 0 0 20px #6600ff, 0 0 45px #9900ff;
  font-size: 18px;
}
.researchButton {
	height:64px;
	width:64px;
	font-size:16px;
  color: #3399ff;
	border-style:groove;
	border-width:5px;
}
.normalResearchButton {
  border-color: rgba(0,204,204,0.9);
}
.permanentResearchButton {
  border-color: rgba(255,255,255,0.9);
}
.studyResearchButton {
  border-color: rgba(153,0,0,0.9);
}
.unknownResearchButton {
  border-color: rgba(153,153,153,0.8);
}
#discoveryPanel {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  font-size: 16px;
  background: linear-gradient(180deg,rgba(0,24,72,0.95),rgba(0,24,72,1));
	padding:5px;
	z-index:3
}
.observation {
  width: 180px;
  height: 60px;
  margin: 4px;
  border-radius: 12px;
  background-color: rgba(179,204,255,0.75)
}
.researchtext {
  color: #66ccff;
}
.study {
  height: 480px;
  width: 400px;
  border-style: solid;
  border-width: 5px;
  border-radius: 32px;
	margin:16px
}
.study0 {
	border-color: rgba(51,0,0,0.9);
	background-color: rgba(102,0,0,0.9);
	color: #cc0000;
}
.study1 {
	border-color: rgba(51,51,0,0.9);
	background-color: rgba(102,102,0,0.9);
	color: #cccc00;
}
.study2 {
	border-color: rgba(0,51,0,0.9);
	background-color: rgba(0,102,0,0.9);
	color: #00cc00;
}
.study3 {
	border-color: rgba(0,51,51,0.9);
	background-color: rgba(0,102,102,0.9);
	color: #00cccc;
}
.study4 {
  border-color: rgba(34,0,51,0.9);
  background-color: rgba(68,0,102,0.9);
  color: #8800cc;
}
.startStudyEnabled {
  height: 48px;
  width: 150px;
	border-radius:8px;
  background-color: rgba(0,0,102,0.9);
  border-style: solid;
  border-width: 2px;
  border-color: rgba(0,68,170,0.9);
	color:#ffffff;
}
.startStudyDisabled {
  height: 48px;
  width: 150px;
	border-radius:8px;
  background-color: rgba(60,120,150,0.9);
  border-style: solid;
  border-width: 2px;
  border-color: rgba(0,68,170,0.9);
}
.stardusttextsmall {
  background: -webkit-radial-gradient(circle,#ff0,#f60);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.wormholetextsmall {
  color: #0000ff;
  text-shadow: 0 0 5px #3300ff, 0 0 20px #6600ff, 0 0 45px #9900ff;
}
.wormholeMilestone {
  width:230px;
  height:140px;
  margin:8px;
  background-image:repeating-radial-gradient(circle,#190033,#330066 10%,#190033 20%);
  color:rgba(255,255,255,0.9);
  font-weight:700;
  font-size:14px;
	border-style:solid;
	border-color:#0000ff;
	border-radius:25px;
	border-width:2px;
}
.wormholeMilestone h3 {
  text-decoration:underline;
  font-weight:800;
  font-size:18px;
}
.achievementtiercontainer {
  width:90vw;
  border-style:solid;
  border-width:8px;
  border-radius:32px;
  padding:16px;
  text-align:center;
  margin:30px
}
.achievement {
  width:100px;
  height:100px;
  border-radius:10px;
  display:inline-block;
  text-align:center;
  vertical-align:top;
  border-style:solid;
  border-width:2px;
  margin:4px;
}
#achievementPanel {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 240px;
  font-size: 16px;
  background: linear-gradient(180deg,rgba(102,102,0,0.95),rgba(102,102,0,1))
}