table {
  border-collapse: collapse;
  border-spacing: 0;
  display:inline-block;
  text-align: center;
}
button {
  display:inline-block;
}
.small {
  font-size: 8px;
  opacity: 0.67;
}
.toptable {
  width: 33vw;
  table-layout: fixed;
}
.maxaxisbutton {
  background-color: #009999;
  color: #ffffff;
  padding: 10px;
  border-radius: 10px;
  width: 250px;
  height: 50px;
}
.axisbutton {
  background-color: #009999;
  color: #ffffff;
  padding: 10px;
  border-radius: 10px;
  width: 200px;
  height: 125px;
}
.lockedaxisbutton {
  background-color: #999999;
  color: #000000;
  padding: 10px;
  border-radius: 10px;
  width: 200px;
  height: 125px;
}
.progressbar {
  height: 10px;
  width: 96vw
}
.td40 {
  width: 40vw;
  border: 1px solid #00ff00;
  border-collapse: collapse
}
.td25 {
  width: 25vw;
  border: 1px solid #00ff00;
  border-collapse: collapse
}
.optionsbutton {
  background-color: #cccccc;
  color: #000000;
  padding: 10px;
  border-radius: 15px;
  font-size: 18px;
  width: 175px;
  height: 150px;
}
.redoptionsbutton {
  background-color: #000000;
  color: #ff0000;
  padding: 10px;
  border-radius: 15px;
  font-size: 18px;
  width: 175px;
  height: 150px;
}
.tabtier2 {
  width: 120px;
  height: 25px;
  font-size: 13px;
}
.tabtier3 {
  width: 100px;
  height: 20px;
  font-size: 9px;
}
.navigationtier3 {
  background-color: #331933;
  margin-left:0vw;
  margin-right:0vw;
}
.mainbigtab {
  background-color: #000000;
  color: #0000ff;
  font-size: 20px;
  border: 2px solid white;
  border-radius: 4px;
  border-color: #0000ff;
  width: 150px;
}
.optionsbigtab{
  background-color: #cccccc;
  color: #000000;
  font-size: 20px;
  border: 2px solid white;
  border-radius: 4px;
  border-color: #000000;
  width: 150px;
}
.statisticsbigtab{
  background-color: #99ff99;
  color: #000000;
  font-size: 20px;
  border: 2px solid white;
  border-radius: 4px;
  border-color: #000000;
  width: 150px;
}
.stardustbigtab{
  background-image: linear-gradient(90deg, #990000, #009900, #000099);
  color: #ffffff;
  font-size: 20px;
  border: 2px solid white;
  border-radius: 4px;
  border-color: #ff9900;
  width: 150px;
}
.stardustResetButton{
  background-image: linear-gradient(90deg, #990000, #009900, #000099);
  color: #000000;
  font-size: 15px;
  border-radius: 4px;
  width: 110px;
  height: 80px;
}
.lockedstardustResetButton{
  background-color: #cccccc;
  color: #000000;
  font-size: 15px;
  border-radius: 4px;
  width: 100px;
  height: 80px;
}
.matterlayertext{
  color: #00ff00;
  font-size: 18px;
}
.masterytext{
  color: #ff0099;
  font-size: 18px;
}
.masterybuttonoff{
  width: 225px;
  height: 150px;
  border-radius: 30px;
  background-color: #cccccc
}
.masterybuttonon{
  width: 225px;
  height: 150px;
  border-radius: 30px;
  background-color: #00ff00
}
.stardustlayertext{
  animation: stardustlayertextanimation 30s infinite;
  font-size: 18px;
}
.bigstardusttext{
  animation: stardustlayertextanimation 30s infinite;
  font-size: 25px;
  font-weight: 700;
}
@keyframes stardustlayertextanimation {
  0% {color: #990000;}
  17% {color: #999900;}
  33% {color: #009900;}
  50% {color: #009999;}
  67% {color: #000099;}
  83% {color: #990099;}
  100% {color: #990000;}
}
.glownotify{
  box-shadow: 0px 0px 20px 0px #ff0
}
.stardustupgradebutton {
  background-image: linear-gradient(90deg, #990000, #009900, #000099);
  color: #ffffff;
  padding: 10px;
  border-radius: 10px;
  width: 200px;
  height: 125px;
}
.starbutton {
  background-color: #cccccc;
  color: #000000;
  padding: 0px;
  font-size: 12px;
  border-radius: 20px;
  width: 100px;
  height: 100px;
}
.lockedstarbutton {
  background-color: #999999;
  color: #000000;
  padding: 0px;
  font-size: 12px;
  border-radius: 20px;
  width: 100px;
  height: 100px;
}
.ownedstarbutton1 {
  background-color: #ff6600;
  color: #000000;
  padding: 0px;
  font-size: 12px;
  border-radius: 20px;
  width: 100px;
  height: 100px;
}
.ownedstarbutton2 {
  background-color: #ff9900;
  color: #000000;
  padding: 0px;
  font-size: 12px;
  border-radius: 20px;
  width: 100px;
  height: 100px;
}
.ownedstarbutton3 {
  background-color: #ffcc00;
  color: #000000;
  padding: 0px;
  font-size: 12px;
  border-radius: 20px;
  width: 100px;
  height: 100px;
}
.ownedstarbutton4 {
  background-color: #ffff00;
  color: #000000;
  padding: 0px;
  font-size: 12px;
  border-radius: 20px;
  width: 100px;
  height: 100px;
}
.ownedstarbutton5 {
  background-color: #ccff33;
  color: #000000;
  padding: 0px;
  font-size: 12px;
  border-radius: 20px;
  width: 100px;
  height: 100px;
}
.ownedstarbutton6 {
  background-color: #99ff66;
  color: #000000;
  padding: 0px;
  font-size: 12px;
  border-radius: 20px;
  width: 100px;
  height: 100px;
}
.ownedstarbutton7 {
  background-color: #66ff99;
  color: #000000;
  padding: 0px;
  font-size: 12px;
  border-radius: 20px;
  width: 100px;
  height: 100px;
}
.ownedstarbutton8 {
  background-color: #33ffcc;
  color: #000000;
  padding: 0px;
  font-size: 12px;
  border-radius: 20px;
  width: 100px;
  height: 100px;
}
.ownedstarbutton9 {
  background-color: #00ffff;
  color: #000000;
  padding: 0px;
  font-size: 12px;
  border-radius: 20px;
  width: 100px;
  height: 100px;
}
.ownedstarbutton10 {
  background-image: radial-gradient(#ffffff 25%, #000000 50%, #ffffff 75%, #000000);
  color: #808080;
  padding: 0px;
  font-size: 12px;
  border-radius: 20px;
  width: 100px;
  height: 100px;
  font-weight: 900;
}
.starbuybutton {
  background-color: #cccccc;
  color: #000000;
  padding: 0px;
  border-radius: 20px;
  width: 200px;
  height: 50px;
}
.automatordiv {
  background-color: #999999;
  color: #000000;
  text-align: center;
  font-size: 12px;
  font-family: "Courier New";
  padding: 10px;
  border-radius: 40px;
  width: 200px;
  height: 150px;
}
.automatortoggleon {
  background-color: #00ff00;
  border-radius: 50%;
  width: 24px;
  height: 24px;
}
.automatortoggleoff {
  background-color: #ff0000;
  border-radius: 50%;
  width: 24px;
  height: 24px;
}
.autobuyerupgrade {
  background-color: #cccccc;
  color: #000000;
  font-size: 12px;
  padding: 2px;
  border-radius: 10px;
}
.maxdarkaxisbutton {
  background-color: #990099;
  color: #ffffff;
  padding: 10px;
  border-radius: 10px;
  width: 250px;
  height: 50px;
}
.darkaxisbutton {
  background-color: #990099;
  color: #ffffff;
  padding: 10px;
  border-radius: 10px;
  width: 200px;
  height: 125px;
}
.darkmattertext {
  color: #990099;
  font-size: 18px
}
.darkstarbutton {
  background-color: #990099;
  color: #ffffff;
  padding: 4px;
  border-radius: 6px;
  width: 400px;
  height: 100px
}
.lockeddarkstarbutton {
  background-color: #999999;
  color: #000000;
  padding: 4px;
  border-radius: 6px;
  width: 400px;
  height: 100px
}
.globalnavigation {
  text-align: center;
  width: 99vw;
}
.energytext {
  color: #00ffff;
  font-size: 18px
}
.energydivision {
  height: 115px;
  width: 50vw
}
.supernovadiv {
  height: 425px;
  width: 300px;
  padding: 25px;
  display: inline-block;
}
.supernovaupg {
  height: 65px;
  width: 245px;
  padding: 5px;
  display: inline-block;
}
